{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn-lg btn btn success">salvar</button>

    {{ form_end(form) }}
{% endblock %}
